<footer id="foot" class="page-footer">
    <div  class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 id="txth5" class="white-text">Sígueme en RRSS</h5>
          <ul>
            <li id="size"><a id="txt" class="grey-text text-lighten-3" href="https://www.instagram.com/asanchezvisual/"  target="_blank"><img id="img" class="responsive-img" src="./assets/ig.png"> Instagram</a></li>
            <li id="size"><a id="txt" class="grey-text text-lighten-3" href="https://wa.me/34691484764"  target="_blank"><img id="img" class="responsive-img" src="./assets/wha.png"> WhatsApp</a></li>
            <li id="size"><a id="txt" class="grey-text text-lighten-3" href="https://t.me/snchezz29"  target="_blank"><img id="img" class="responsive-img" src="./assets/tg.png"> Telegram</a></li>
            <li id="size"><a id="txt" class="grey-text text-lighten-3" href="https://github.com/Snchezz"  target="_blank"><img id="img" class="responsive-img" src="./assets/gh.png"> Github</a></li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 id="txth5" class="white-text">Contactame</h5>
          <ul>
            <li id="size"><a id="txt" class="grey-text text-lighten-3" href="tel:+34691484764"  target="_blank"><i class="material-icons">local_phone</i> 691 48 47 64</a></li>
            <li id="size"><a id="txt" class="grey-text text-lighten-3" href="mailto:asanchezvisual@gmail.com"  target="_blank"><i class="material-icons">mail</i> asanchezvisual @gmail.com</a></li>
            <li id="size"><a id="txt" class="grey-text text-lighten-3" href="https://www.google.es/maps/place/C.+Monte+Luna,+33,+21459+El+Portil,+Huelva/@37.2142632,-7.0574356,19z/data=!3m1!4b1!4m5!3m4!1s0xd11d3026bd9c6ef:0x297adaaed4da1685!8m2!3d37.2142621!4d-7.0568884"  target="_blank"><i class="material-icons">location_on</i> asanchezvisual office</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer" class="footer-copyright">
      <div class="container">
      © 2021 Andrés Sánchez Vera
      </div>
    </div>
  </footer>