<app-nav></app-nav>

<div class="col s12"><img id="" class="responsive-img" src="./assets/drontoros.jpg">
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col l4 offset-l2 s12">
            <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Nombre</label>
                      </div>
                    <div class="input-field col s6">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Apellidos</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea"></textarea>
                      <label for="textarea1">Mensaje</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                        <a class="waves-effect waves-light btn">Enviar</a>
                    </div>
                  </div>
                  
                </form>
              </div>

        </div>

    </div>
</div>

<app-footer></app-footer>

