<app-nav></app-nav>
<br>
<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5>Aqualon</h5>
            <p>Cines, tiendas de ropa, complementos y restauración en un centro con dos plantas, muelle y terraza con vistas.</p>
        </div>
        <div class="col l6 s12">
            <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.4194678932267!2d-6.962387984357933!3d37.26147904929658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd11d02a93a86211%3A0x71d241bdc0b9e219!2sAqualon!5e0!3m2!1ses!2ses!4v1639001134024!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5>Holea</h5>
            <p>Descubre nuestro centro comercial en Huelva! Holea es un universo ideado para tus ratos de ocio y un traje a medida para los amantes de la moda.</p>
        </div>
        <div class="col l6 s12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3174.976304939074!2d-6.921908184696774!3d37.27198897985413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd11c556236fd387%3A0xee94563df15045ee!2sHolea%20Huelva!5e0!3m2!1ses!2ses!4v1639002920691!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5>Plaza de las Monjas</h5>
            <p>Plaza pública con una magnífica estatua de Cristóbal Colón y mucha animación, popular para ir de tapas, cañas y cafés.</p>
        </div>
        <div class="col l6 s12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25402.02223022259!2d-6.963036845078641!3d37.26543249973608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd11d025af99ec99%3A0x8c11c18865ba1eb3!2sPlaza%20de%20las%20Monjas!5e0!3m2!1ses!2ses!4v1639003135664!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5>Casa Colón</h5>
            <p>Antiguo hotel del siglo XIX reconvertido en palacio de congresos para exposiciones y eventos culturales.</p>
        </div>
        <div class="col l6 s12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10680.533678627951!2d-6.948085661606195!3d37.26332448753864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd11d0237813e00f%3A0xac9ef17014e5875e!2sCasa%20Col%C3%B3n!5e0!3m2!1ses!2ses!4v1639003306546!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5>Parque Moret</h5>
            <p>Parque urbano, con una pista de skate, lagunas y zonas de barbacoa, además de caminos para correr y caminar.</p>
        </div>
        <div class="col l6 s12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14467.611304798333!2d-6.950683269728374!3d37.26974365213994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd11cfddb6b27205%3A0x19afa4dc29d3328f!2sParque%20Moret!5e0!3m2!1ses!2ses!4v1639003437759!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
<app-footer></app-footer>